.principal {
    margin: 0;

    background: #bae8e8;
    font-family: Century Gothic,'Roboto', sans-serif;
    padding: 0 20%;
    color: #272643; 
}

.principal h1 {
    padding-top: .7em;
    padding-bottom: .5em;
    color:#2c698d;
    font-size: 24px;
    text-align:center;

}

.principal h2{
    padding: 2% 0%;
    color: #272643;
    text-align:center;

}

.principal ul{
    text-align:left;
}

.principal p{
    text-align:center;
    font-style: italic;
}
